@media (max-width: 580px)
{
    .navbar .nav-link-admin
    {
        margin-right: 0;
    }

    .navbar .nav-link
    {
        margin-left: 0;
    }
}

.logout-link {
    color: #dc3545 !important;
}

.logout-link:hover {
    color: #c82333 !important;
}